<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <title>TruckLoad</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png"
          href="">
    <link rel="stylesheet" type="text/css"
          href="./styles/truckload.css">
</head>
<body>
    <div class="container-fluid mt-4 mb-5">
        <div class="page-header">
            <h1 class="text-center">Drive your business forward</h1>
            <!--<h1 class=" text-capitalize">Freights Trucking</h1>-->
        </div>
    </div>
    <hr>
    <br>
    <div class="container">
        <form action="#" method="post">
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="company">Company Name:</label>
                        <input type="text" class="form-control" id="company" name="company" value="{{@company}}">
                        <check if="{{ @errors['company'] }}">
                            <span class="err">{{ @errors['company'] }}</span>
                        </check>
                    </div>
                    <div class="form-group">
                        <label for="phoneNumber">Phone Number:</label>
                        <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" value="{{@phoneNumber}}">
                        <check if="{{ @errors['phoneNumber'] }}">
                            <span class="err">{{ @errors['phoneNumber'] }}</span>
                        </check>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" id="request">
                        <label for="comment">Give a description of request:</label>
                        <textarea class="form-control" rows="5" id="comment" name="description"  value="{{@description}}"></textarea>
                        <check if="{{ @errors['description'] }}">
                            <span class="err">{{ @errors['description'] }}</span>
                        </check>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <label class="font-weight-bold mt-2"> Driver Type</label>
                    <div class="form-check">
                        <repeat group="{{ @drivertype }}" value="{{ @truckOption }}">
                            <label><input type="radio" class="form-check-input"
                                          name="driverType"
                                          value="{{ @truckOption }}"
                                <check if = "{{@driverType== @truckOption}}"> checked="checked"</check>
                                >{{ ucfirst(@truckOption) }}
                            </label><br>
                        </repeat>
                    </div>
                </div>
                <div class="col-lg-2">
                    <label class="font-weight-bold mt-2">Truck Type</label><br>
                    <select name="truck">
                        <repeat group="{{@trucktype}}" value="{{@selecttype}}">
                            <option value="{{@selecttype}}"
                            <check if = "{{@truck==@selecttype}}">
                                selected="selected"
                            </check>>{{ucfirst(@selecttype)}}
                            </option>
                        </repeat>
                    </select>
                </div>
            </div>
            <br>

            <div class="text-center ">
                <button class="btn btn-lg btn-info" id="btn2" name="button" type="submit">Submit</button>
            </div>
        </form>
    </div>

<br>
<hr class="m-5">
<div class="container-fluid" id="footer">
    <p id="indexP">Connect with Us</p>
    <p>877-633-2345</p>
    <p>2543 W. Diversey Ave.</p>
    <p>3rd Floor Auburn, WA 98001</p>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>