<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--    <meta http-equiv="x-ua-compatible" content="ie=edge">-->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>TruckLoad Summary</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png"
          href="">
    <link rel="stylesheet" type="text/css"
          href="./styles/truckload.css">
</head>
<body>
<div class="container-fluid mt-4 mb-5">
    <div class="page-header">
        <h1 class="text-center">Drive your business forward</h1>

    </div>
</div>
<hr>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <table class="table table-bordered table-responsive mt-3">
                <tbody>
                    <tr>
                        <td>Company Name: {{ (@SESSION['Partner']->getCompanyName()) }}</td>
                    </tr>
                    <tr>
                        <td> Phone number: {{ (@SESSION['Partner']->getCompanyPhone()) }}</td>
                    </tr>
                    <tr>
                        <td>Driver Type: {{ (@SESSION['Partner']->getDriverType()) }}</td>
                    </tr>
                    <tr>
                        <td>Truck Type: {{ (@SESSION['Partner']->getTruckType()) }}</td>
                    </tr>
                    <tr>
                        <td>Description: {{ (@SESSION['Partner']->getDescription()) }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <a class="btn btn-lg btn-info" id="btn3" name="button" type="submit" href="partnerList.html">Admin</a>
        </div>
    </div>
</div>
<br>
<hr class="m-5">
<div class="container-fluid" id="footer">
    <p id="indexP">Connect with Us</p>
    <p>877-633-2345</p>
    <p>2543 W. Diversey Ave.</p>
    <p>3rd Floor Auburn, WA 98001</p>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>