.btn {
    margin-top: 380px;
}

#btn2 {
    margin-top: 230px;
}

.container-fluid {
    background-image: url("../images/trucking.jpg");
    color: white;
    background-margin: 100px;
    text-align: center;
}

.col-md-8 {
    background-color: #3f9fb5;
    background-image: url("../images/trucking1.jpg");
    background-repeat: no-repeat;
    color: white;
    height: 600px;
    width: 1000px;
}

.display-3 {
    color: white;
}

.err {
    color: red;
}

#heading {
    background-image: url("../images/trucking.jpg");
}