a {
    color: #060124;
    font-size: large;
}

.btn {
    margin-top: 350px;
}

#btn2 {
    margin-top: 350px;
}

#btn3 {
    margin-top: 555px;
}

#btn4 {
    margin-top: 10px;
}

#btn5 {
    margin-top: 350px;
}

.col-md-12 {
    background-color: #8C92AC;
    background-image: url("../images/truckings.jpg");
    background-repeat: no-repeat;
    text-align: center;
    /*max-width: 100%;*/
    height: auto;
}

.container {
    background-color: #8C92AC;
    background-image: url("../images/truckings.jpg");
    background-position-y: center;
    background-repeat: no-repeat;
    color: black;
    /*max-width: 100%;*/
    height: auto;
}

.container-fluid {
    background-image: url("../images/trucking.jpg");
    color: white;
    background-margin: 100px;
    text-align: center;
    /*max-width: 100%;*/
    height: auto;
}

.display-3 {
    color: black;
}

.err {
    color: red;
}

#footer {
    font-size: large;
}
#heading {
    background-image: url("../images/trucking.jpg");
    max-width: 100%;
    height: auto;
}

td {
    font-weight: bolder;
    font-size: 16px;
    text-space: 20px;
}

tr {
    color: black;
}