.btn {
    margin-top: 325px;
}

#btn2 {
    margin-top: 350px;
}

#btn3 {
    margin-top: 555px;
}

.col-md-8 {
    background-color: #3f9fb5;
    background-image: url("../images/truckings.jpg");
    background-repeat: no-repeat;
    text-align: center;
    height: 600px;
    width: 1308px;
}

.container {
    background-color: #3f9fb5;
    background-image: url("../images/truckings.jpg");
    background-repeat: no-repeat;
    color: black;
    height: 600px;
    width: 1308px;
}

.container-fluid {
    background-image: url("../images/trucking.jpg");
    color: white;
    background-margin: 100px;
    text-align: center;
}

.display-3 {
    color: black;
}

.err {
    color: red;
}

#footer {
    font-size: large;
}
#heading {
    background-image: url("../images/trucking.jpg");
}

td {
    font-weight: bolder;
    font-size: 16px;
}

tr {
    color: black;
}
